    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Bebas Neue";
    color: #7f1734;
    letter-spacing: 1px;
}

p, a {
    font-family: "Montserrat";
    font-size: 20px;
    letter-spacing: 0px;
}

h1 {
    font-size: 75px;
}




/* =============================================== HEADER SECTION STYLING =============================================== */

header {
    height: 130px;
    width: 100%;
    overflow: hidden;
    font-family: "Bebas Neue";
    color: #7f1734;
    letter-spacing: 1px;
    background-color:lightcyan;
}

#umfc_logo {
    float: left;
    height: 120px;
    width: 120px;
    position: relative;
    top: 5px;
    border-radius: 50%;
    
}

header a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

header a:hover {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

header a h1 {
    padding-left: 30px;
    float: left;
    color: inherit;
    font-size: 60px;
    position: relative;
    top: 30px;

    font-family: inherit;
    letter-spacing: inherit;
}

#menu {
    list-style-type: none;
    float:right;
    padding-top: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    position: relative;
    top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
}


#menu li {
    float:left;
    margin-right: 20px;
}

#menu li:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid #7f1734;
}

.active_page {
    padding-bottom: 10px;
    border-bottom: 1px solid #7f1734;
}

/* =============================================== FOOTER SECTION STYLING =============================================== */

footer {
    height: 100px;
    width: 100%;
    overflow: hidden;
    font-size: 30px;
    border-top: 0px solid #7f1734;
}

footer h2 {
    text-align: center;
    font-size: inherit;
    position: relative;
    
}

#footer-left, #footer-right, #footer-center {
    display: inline-block;
    padding-top: 20px;

}

#footer-left {
    float: left;
    width: 35%;
    height: 100%;
}

#footer-right {
    float:right;
    width: 35%;
    height: 100%;
}

#footer-center {
    margin: 0 auto;
    width: 30%;
    height: 100%;
    
}

#nike_logo {
    height: 50px;
    position: relative;
    margin-left: 10px;
    margin-right: 30px;
    float: left;
}

#quayside_tyres_logo {
    height: 50px;
    position: relative;
    float: left;
    margin-right: 30px;
    margin-top: 1px;
}

#iomfa_logo {
    height: 50px;
    position: relative;
    float: left;
    margin-top: 1px;
}

#social_media_links {
    list-style-type: none;
    font-size: inherit;
    text-align: center;
}

#social_media_links h2 {
    font-size: inherit;
    margin-right: 20px;
}

#social_media_links a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

#social_media_links h2 li {
    position: relative;
    float: right;
    margin-left: 10px;
    font-size: inherit;
}

/* =============================================== CLUB SHOP BANNER WITH LINK TO TRAINING GEAR STYLING =============================================== */

#club_shop {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #7f1734;
}

#club_shop_banner {
    height: 100%;
    width: 100%;
    position: absolute;    
    background-color: #7f1734;
    top: 0px;
    padding-top: 10px;
}

#club_shop_banner h1 a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #7f1734;
    color: white;
    font-size: 75px;
    font-family: "Bebas Neue";
    text-align: center;
}

/* =============================================== INDEX.HTML PAGE STYLING =============================================== */

/* =============================================== WELCOME SECTION STYLING =============================================== */

#welcome {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#welcome h1 {
    text-align: center;
    color: white;
    background-color:#7f1734;
    padding: 10px;
}

welcome-outer {
    height: 100%;
    width: 100%;
    color: #7f1734;
    position: relative;

}

#welcome_background {
    height: 700px;
    width: 100%;
    opacity: 0.4;
    object-fit: cover;
    object-position: 100% -500px;
    background-color: none;
}

/* =============================================== LATEST TEAM INFORMATION SECTION STYLING =============================================== */

#club-info {
    height: 700px;
    width: 100%;
    padding-top: 10px;
    background-color: #7f1734;
    color: white;
    overflow: hidden;
}

#club-info h1 {
    text-align: center;
    color: inherit;
    background-color:inherit;
    padding: 10px;
}

#left-club-info {
    height: 100%;
    width: 33.33%;
    float:left;
}

#right-club-info {
    height: 100%;
    width: 33.33%;
    float: right;
}
 
#center-club-info {
    height: 100%;
    width: 33.33%;
    margin: 0 auto;
}

#left-club-info, #right-club-info, #center-club-info {
    display: inline-block;
}

hr {
    border-top: 1px solid white;
    width: 1005;
    margin: 2px 0;
}

#left-club-info div, #right-club-info div {
    clear: both;
    margin-top: 50px;
}

#last-match a, #next-match a, #football-news a, #league-table a {
    color: inherit;
    text-decoration: none;
}

#last-match a:hover, #next-match a:hover, #football-news a:hover, #league-table a:hover  {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#last-match, #football-news{
    width: 50%;
    float: right;
}

#next-match, #league-table {
    width: 50%;
    float: left;
}

#club-info p {
    margin-bottom: 15px;
}

#umfc_logo_large {
    border-radius: 50%;
    height: 225px;
    width: 225px;
    display: block;
    margin: 0 auto;
    margin-top: 15%;
}

/* =============================================== FROM THE VAULT SECTION STYLING =============================================== */

#vault-container {
    height: 1100px;
    width: 100%;
    padding-top: 10px;
    color: #7f1734;
    overflow: hidden;
}

#vault-container h1 {
    text-align: center;
    color: inherit;
    background-color:inherit;
    padding: 10px;
}

#vault-outer {
    height: 100%;
    width: 100%;
    color: #7f1734;
    position: relative;
}

#vault-text {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    z-index: 2;
}

#vault-text p {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #7f1734;
    color: white;
    
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
}

#UMFC-trophy {
    width:100%;
    opacity: 0.4;
    position: absolute;
    z-index: 1;
    top: 0px
}

#vault-text iframe {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #7f1734;
}

/* =============================================== ABOUT SECTION STYLING =============================================== */
#about-container {
    height: 1700px;
    width: 100%;
    color: #7f1734;
    overflow: hidden;
}

#about-container h1 {
    text-align: center;
    color:  white;
    background-color:#7f1734;
    padding: 10px;
}

#about-outer {
    height: 100%;
    width: 100%;
    color: #7f1734;
    overflow: hidden;
}

#about-outer hr {
    border-top: 1px solid #7f1734;
    width: 1005;
    margin: 2px 0;
}

#about-top-left, #about-top-right, #about-top-center, #about-middle-left, #about-middle-right, #about-middle-center, #about-bottom-left, #about-bottom-right, #about-bottom-center {
    height: 33.33%;
    width: 33.33%;
    display: inline-block;
    padding-top: 10px;
    background-color: white;
    color: #7f1734;
}

#about-top-left {
    float: left;
    position: relative;
}

#about-top-right {
    float: right;
    position: relative;
}

#about-top-center {
    margin: 0 auto;
    position: relative;
}

#about-middle-left {
    float: left;
    position: relative;
}

#about-middle-right {
    float: right;
    position: relative;
}

#about-middle-center {
    margin: 0 auto;
    position: relative;
}

#about-bottom-left {
    float: left;
    position: relative;
}

#about-bottom-right {
    float: right;
    position: relative;
}

#about-bottom-center {
    margin: 0 auto;
    position: relative;
}

#founded {
    width: 200px;
    position: absolute;
    bottom: 20%;
    right: 0px;
}

#managers {
    width: 200px;
    margin: 0 auto;
    padding-top: 10%;
}

#ground {
    width: 200px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#honours {
    width: 300px;
    margin: 0 auto;
    padding-top: 10%;
}

#goalscorers {
    width: 250px;
    margin: 0 auto;
    padding-top: 10%;
}

#goalscorers ol li{
    margin-left: 30px;
    margin-bottom: 15px;
    font-family: "Montserrat";
    font-size: 20px;
    letter-spacing: 0px; 
}

#appearances {
    width: 300px;
    margin: 0 auto;
    padding-top: 20%;
}

#appearances ol li{
    margin-left: 30px;
    margin-bottom: 15px;
    font-family: "Montserrat";
    font-size: 20px;
    letter-spacing: 0px; 
}

#captain {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#captain p, #ground p, #managers p, #honours {
   margin-bottom: 15px;
}

#league-finish {
    width: 300px;
    position: absolute;
    bottom: 20%;
    left: 0px;
}

#umfc_logo_extra_large {
    border-radius: 50%;
    width: 55%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}


/* =============================================== INTERESTED IN JOINING SECTION STYLING =============================================== */

#join-container {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

#join-container h1 {
    text-align: center;
    color:  white;
    background-color:#7f1734;
    padding: 10px;
}

#join-container h2 {
    text-align: center;
    color:  white;
    background-color:#7f1734;
    font-size: 40px;
}

#join-outer {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
}

#join-outer h1 {
    font-size: 50px;
}

#join-outer h2 {
    font-size: 35px;
}

#join-outer-left{
    height: 100%;
    width: 33.33%;
    float:left;
    position: relative;
    z-index: 2;
}

#join-outer-right{
    height: 100%;
    width: 33.33%;
    float:right;
    position: relative;
    z-index: 2;
}

#join-outer-center {
    height: 100%;
    width: 33.33%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

#join-outer-left, #join-outer-right, #join-outer-center {
    display: inline-block;
    opacity: 0.9;
}

#training_one, #training_two, #subscriptions, #join-text-one, #join-text-two, #join-text-three {
    width: 400px;
    background-color: #7f1734;
    border-radius: 2%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    z-index: 2;
}

#training_one, #training_two, #subscriptions {
    height: 300px;
}

#join-text-one, #join-text-two, #join-text-three {
    height: 150px;
}

#training {
    width:100%;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}




/* =============================================== CAMPING.HTML PAGE STYLING =============================================== */

/* =============================================== TT CAMPING SECTION STYLING =============================================== */

#tourist-trophy-container {
    height: 1100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#tt-outer {
    height: 100%;
    width: 100%;
    position: relative;
}

#tourist-trophy-container h1, #camping-details h1, #booking-details h1 {
    text-align: center;
    color:  white;
    background-color:#7f1734;
    padding: 10px;
    z-index: 2;
}

#iomtt {
    width:100%;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}

#tt-welcome {
    width: 500px;
    background-color: #7f1734;
    color: white;
    border-radius: 10px;
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    padding: 20px;
    z-index: 2;
    top: 0;
    position: relative;
}

#tt-welcome h2 {
    background-color: #7f1734;
    color: white;
    font-size: 65px;
   
}

#tt-welcome p {
    background-color: #7f1734;
    color: white;
    font-size: 30px;
   
}

/* =============================================== CAMPING DETAILS SECTION STYLING =============================================== */

#camping-details {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #7f1734;
}

#camping-outer {
    width: 100%;
    position: relative;
    color: white;
}

#camping-outer li {
    font-size: 25px;
    margin-left: 30px;
}

#camping-outer h2 {
    font-size: 70px;
}

#camping-outer-left {
    width: 550px;
    float: left;
    position: relative;
    margin-left: 200px;
}

#camping-outer-right {
    width: 550px;
    float: right;
    position: relative;
    margin-right: 50px;
}

/* =============================================== BOOKING SECTION STYLING =============================================== */

#booking-container {
    height: 1100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#booking-container h1 {
    text-align: center;
    color: #7f1734;
    background-color:white;
    padding: 10px;
}

#booking-container p {
    margin-top: 20px;
}


#booking-outer {
    height: 100%;
    width: 100%;
    position: relative;
}

#booking-outer-top {
    width: 50%;
    height: 10%;
    margin: 0 auto;
}

#booking-outer-middle {
    width: 50%;
    height: 70%;
    margin: 0 auto;
}

#booking-outer-bottom {
    width: 100%;
    height: 10%;
}

#booking-form, #submit-button {
    font-family: "Montserrat";
    font-size: 20px;
}

#booking-form label {
    margin-bottom: 20px;
}

.form-box {
    box-sizing: border-box;
    width: 900px; 
    height: 100px;
    border: 1px solid #7f1734;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px
}

.form-box:hover {
    box-sizing: border-box;
    width: 900px; 
    height: 100px;
    border: 2px solid #7f1734;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px
}

#fname, #lname, #email-address {
    padding: 5px;
    height: 40px;
    display: block;
}

#stay-duration, #campers {
    border: 1px solid #7f1734;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

#stay-duration:hover, #campers:hover {
    border: 2px solid #7f1734;
    border-radius: 10px;
    margin-bottom: 20px;
   
}

/* =============================================== CONTACT.HTML PAGE STYLING =============================================== */

/* =============================================== CONTACT DETAILS SECTION STYLING =============================================== */

#contact-container {
    height: 750px;
    width: 100%;
    overflow: hidden;
}

#contact-container p {
    text-align: center;
    color:  white;
    background-color:#7f1734;
    font-size: 20px;
}

#contact-outer {
    height: 100%;
    width: 100%;
    position: relative;
}

#contact-container h1 {
    text-align: center;
    color:  white;
    background-color:#7f1734;
    padding: 10px;
}

#contact-container h2 {
    text-align: center;
    color:  white;
    background-color:#7f1734;
    font-size: 40px;
}

#contact-outer-left {
    height: 100%;
    width: 33.33%;
    float:left;
    position: relative;
    z-index: 2;
}

#contact-outer-right {
    height: 100%;
    width: 33.33%;
    float:right;
    position: relative;
    z-index: 2;
}

#contact-outer-center {
    height: 100%;
    width: 33.33%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

#contact-outer-left, #contact-outer-right, #contact-outer-center {
    display: inline-block;
    opacity: 0.9;
}

#email, #phone, #post {
    width: 75%;
    background-color: #7f1734;
    border-radius: 2%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    z-index: 2;
}

#UMFC_clubhouse {
    width:100%;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}

/* =============================================== FIND US SECTION STYLING =============================================== */

#find-container {
    height: 1000px;
    width: 100%;
    overflow: hidden;
}

#find-container h1 {
    text-align: center;
    color:  white;
    background-color:#7f1734;
    padding: 10px;
}

#find-outer {
    height: 100%;
    width: 100%;
    position: relative;
}

#find-outer-top {
    height: 10%;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#find-outer-middle {
    height: 60%;
    width: 100%;
    position: relative;
}

#find-outer-bottom {
    height: 10%;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#UMFC_map {
    display: block;
    width: 40%;
    margin: 0 auto;
    border: 10px solid #7f1734;
    border-radius: 10px;
}

/* =============================================== FEEDBACK SECTION STYLING =============================================== */

#feedback-container {
    height: 1100px;
    width: 100%;
    overflow: hidden;
}

#feedback-container h1 {
    text-align: center;
    color:  white;
    background-color:#7f1734;
    padding: 10px;
}

#feedback-container p {
    margin-top: 20px;
}


#feedback-outer {
    height: 100%;
    width: 100%;
    position: relative;
}

#feedback-outer-top {
    width: 50%;
    height: 10%;
    margin: 0 auto;
}

#feedback-outer-middle {
    width: 50%;
    height: 70%;
    margin: 0 auto;
}

#feedback-outer-bottom {
    width: 100%;
    height: 10%;
}

#feedback-form, #submit-button {
    font-family: "Montserrat";
    font-size: 20px;
}

#feedback-form label {
    margin-bottom: 20px;
}

.form-box {
    box-sizing: border-box;
    width: 900px; 
    height: 100px;
    border: 1px solid #7f1734;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px
}

.form-box:hover {
    box-sizing: border-box;
    width: 900px; 
    height: 100px;
    border: 2px solid #7f1734;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px
}

#form-summary, #form-device, #form-browser, #form-device-info, #email-address {
    padding: 5px;
    height: 40px;
    display: block;
}

#form-device, #form-browser {
    border: 1px solid #7f1734;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

#form-device:hover, #form-browser:hover {
    border: 2px solid #7f1734;
    border-radius: 10px;
    margin-bottom: 20px;
   
}

#submit-button {
    height: 50px;
    width: 100px;
    border: 1px solid #7f1734;
    border-radius: 5px;
}

#submit-button:hover {
    height: 50px;
    width: 100px;
    background-color: #7f1734;
    color: white;
    border: 1px solid #7f1734;
    border-radius: 5px;
}


/* =============================================== TABLET SCREENS =============================================== */

@media screen and (max-width: 1393px){
    body {
        background-color: black;
        
    }
    
    h1, #club_shop_banner h1 a {
        font-size: 40px;
    }

    

    /* ==== HEADER ==== */

    header a h1 {
        display: none;
    }


    /* ==== FOOTER ==== */
    
    #footer-center {
        display: none;
    }

    #footer-left {
        width: 50%;
    }
    
    #footer-right {
        width: 50%;
    }

    footer h2, #social_media_links{
        font-size: 40px;    
    }

    #social_media_links span {
        display: none;
    }

    /* ==== CLUBSHOP BANNER ==== */

    #club_shop {
        height: 75px;
    }

    #club_shop_banner h1 a {
        height: 100px;
        background-color: lightcyan;
        color: #7f1734;
    }

    #club_shop_banner {
        height: 100%;
        background-color: lightcyan;
        color: #7f1734;
    }


    /* ==== INDEX.HTML ==== */

    /*WELCOME SECTION */

    #welcome {
        height: 60px;
    }

    #welcome h1 {
        font-size: 40px;
    }

    #welcome_background {
        display: none;
    }
    
    /*LATEST TEAM INFO SECTION */

    #club-info {
        background-color: white;
        color: #7f1734;
    }

    #center-club-info {
        display: none;
    }

    #left-club-info, #right-club-info {
        width: 45%;
    }

    #last-match, #football-news, #next-match, #league-table{
        width: 70%;
    }

    #club-info hr {
        border-top: 1px solid #7f1734;
    }

    #last-match a:hover, #next-match a:hover, #football-news a:hover, #league-table a:hover  {
        border-bottom: 1px solid #7f1734;
    }

    /*FROM THE VAULT SECTION */

    #vault-container {
        height: 900px;
        background-color: #7f1734;
        color: white;
        padding-top: 0px;
    }

    #vault-text iframe {
        height: 295px;
        width: 365px;
        border: 5px solid white;
    }

    #vault-container h1 {
        color: white;
        background-color:#7f1734;
    }

    #vault-text p {
        width: 100%;
        background-color: #7f1734;
        color: white;
        border-radius: 0px;
        opacity: 1;
        margin: 0px;
    }

    #vault-text {
        margin: 0px;
        padding: 30px;
    }

    #UMFC-trophy {
        display: none;
    }

    /*ABOUT SECTION */

    #about-container {
        height: 1900px;
    }

    #about-container h1 {
        text-align: center;
        color: #7f1734;
        background-color: white;
        padding: 10px;
    }

    #about-top-left, #about-top-right, #about-top-center, #about-middle-left, #about-middle-right, #about-middle-center, #about-bottom-left, #about-bottom-right, #about-bottom-center {
        width: 100%;
        display: block;
        float: left;
        margin: 0px;
        padding: 0px;
    }

    #about-top-right {
        height: 80px;
    }

    #about-top-left {
        margin-top: 20px;
        height: 80px;
    }

    #about-top-center {
        height: 245px;
    }

    #about-middle-left {
        height: 370px;
    }

    #about-middle-right {
        height: 370px;
    }

    #about-bottom-left {
        height: 170px;
    }

    #about-bottom-right {
        height: 240px;
    }

    #about-bottom-center {
        height: 250px;
    }

    #founded, #league-finish, #honours, #managers, #goalscorers, #appearances, #captain, #ground {
        width: 60%;
        float: left;
        padding-left: 20%;
        top: 0px;
        left: 0px;
        margin-top: 20px;
    }

    #about-middle-center {
        display: none;
    }

    #honours, #managers, #goalscorers, #appearances {
        padding-top: 0px;
    }
    
    /*JOIN SECTION */

    #join-container {
        height: 1650px;
        background-color: #7f1734;
    }   

    #join-container h1 {
         font-size: 75px;
    }

    #join-container h2 {
        font-size: 50px;
    }

    #join-outer-left, #join-outer-right, #join-outer-center {
        width: 100%;
        height: 400px;
        display: block;
        float: left;
        margin: 0px;
        padding: 0px;
        margin-bottom: 100px;
    }

    #training_one, #training_two, #subscriptions {
        opacity: 1;
        height: 375px;
        width: 70%;
        border: 10px solid white;
        margin-bottom: 50px;
    }

    #training {
        display: none;
    }

    #join-text-one, #join-text-two, #join-text-three {
        display: none;
    }
    
    /* ==== CAMPING.HTML ==== */

    /* TOURIST TROPHY SECTION */

    #tourist-trophy-container {
        height: 750px;
    }

    #iomtt, #tt-welcome {
        display: block;
        float: left;
        clear:both;
    }

    #tt-welcome {
        width: 100%;
        margin-top: 400px;
        border-radius: 0px;
    }
    
    #tt-welcome h2 {
        font-size: 50px;
        text-align: center;
    }

    #tt-welcome p {
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /* CAMPING INFO SECTION */

    #camping-details {
        height: 800px;
        background-color: white;
    }

    #camping-details h1 {
        background-color: white;
        color: #7f1734;
    }

    #camping-outer {
        color: #7f1734;
    }

    #camping-outer-left, #camping-outer-right {
        display: block;
        float:left;
        margin-left: 100px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    #camping-outer h2 {
        font-size: 40px;
    }


    /* CAMPING INFO SECTION */
    
    
    /*
    
    
    
        
    
    */



    /* ==== CONTACT.HTML ==== */

    /*CONTACT SECTION */

    #contact-container {
        height: 600px;
    }

    #contact-outer-left, #contact-outer-right, #contact-outer-center {
        display: block;
        width: 100%;
        opacity: 1;
        float:left;
        margin: 0px;
        margin-bottom: 10px;
    }

    #contact-outer-left {
        height: 150px;
        
    }

    #contact-outer-right {
        height: 100px;
    }
    
    #contact-outer-center {
        height: 50px;
    }
    
    #contact-container h2, #contact-container p {
        background-color: white;
        color: #7f1734;
    }

    #email, #phone, #post {
        width: 100%;
        margin-top: 10px;
        background-color: white;
        color: #7f1734;
        padding: 0px;
    }

    #UMFC_clubhouse {
        display: none;
    }

    /* FIND US SECTION */

    #find-container {
        height: 800px;
        background-color: #7f1734;
    }

    #find-container h1 {
        text-align: center;
        color:  white;
        background-color:#7f1734;
        padding: 10px;
    }

    #find-container p {
        color:  white;
    }

    #find-outer-top, #find-outer-middle {
        height: 300px;
    }
    
    #UMFC_map {
        border: 10px solid white;
        width: 400px;
    }

    /* FEEDBACK SECTION */

    #feedback-container {
        background-color: white;
    }

    #feedback-container h1{
        color: #7f1734;
        background-color: white;
    }

    #feedback-container p{
        font-size: 15px;
    }

    #feedback-outer-top, #feedback-outer-middle, #feedback-outer-bottom {
        width: 80%;
    }

    #feedback-form, #submit-button {
        font-size: 15px;
    }

    .form-box, .form-box:hover {
        width: 600px; 
    }

      
}

/* =============================================== MOBILE PHONE SCREENS =============================================== */

@media screen and (max-width: 768px){
    body {
        background-color: blue;
    }

     h1 {
        font-size: 25px;
    }

     #club_shop_banner h1 a {
        font-size: 25px;
    }
    
    /* ==== HEADER ==== */

    #menu a {
        font-size: 15px;
    }

    #menu li:hover {
        padding-bottom: 20px;
        border-bottom: 1px solid #7f1734;
    }

    .active_page {
        padding-bottom: 20px;
        border-bottom: 1px solid #7f1734;
    }

    #umfc_logo {
        height: 60px;
        width: 60px;
        top: 25px;
        left: 5px;
    }

    /* ==== FOOTER ==== */
    
    footer h2, #social_media_links{
        font-size: 20px;    
    }
   

    /* ==== CLUBSHOP BANNER ==== */

    #club_shop {
        height: 50px;
    }

    #club_shop span {
        display: none;
    }

    /* ==== INDEX.HTML ==== */
    
    /*WELCOME SECTION */
    
    #welcome {
        height: 50px;
    }

    #welcome h1 {
        font-size: 20px;
    }

    #welcome h1 span {
        display: none;
    }


    /*LATEST TEAM INFO SECTION */

    #club-info {
        height: 1000px;
    }

    #left-club-info, #right-club-info {
        height: 350px;
        width: 100%;
        display: block;
        float: left;
        margin-bottom: 150px;
    }

    #last-match, #football-news, #next-match, #league-table{
        width: 60%;
        float: left;
        padding-left: 20%;
    }

    /* FROM THE VAULT SECTION */

    #vault-text p {
        font-size: 15px;
    }

    #vault-text iframe {
        height: 150px;
        width: 200px;
        border: 5px solid white;
    }

    #vault-container {
        height: 1100px;
    }

    /* ABOUT SECTION */

    #about-container {
        height: 2100px;
    }

    #about-container h2 {
        font-size: 20px;
    }

    #about-container p, #about-container ol li {
        font-size: 15px;
    }

    #about-top-left, #about-top-right, #about-top-center, #about-middle-left, #about-middle-right, #about-middle-center, #about-bottom-left, #about-bottom-right, #about-bottom-center {
        margin-bottom: 20px;
    }

    /* JOIN SECTION */

    #join-container {
        height: 1100px;
    }   

    #join-container h1 {
        font-size: 35px;
    }

    #join-container h2 {
        font-size: 15px;
    }

    #join-outer-left, #join-outer-right, #join-outer-center {
        height: 200px;
    }

    #training_one, #training_two, #subscriptions {
        height: 200px;
    }


    /* ==== CAMPING.HTML ==== */


  
    



    /* ==== CONTACT.HTML ==== */

    /*CONTACT SECTION */
    
    #contact-container {
        height: 500px;
    }

    #contact-container h2 {
        font-size: 25px;
    }
    
    #contact-container p {
        font-size: 15px;
    }

    #contact-outer-left {
        height: 130px;  
    }

    #contact-outer-right {
        height: 60px;
    }
    
    #contact-outer-center {
        height: 40px;
    }
    
    /*FIND US SECTION */
    

    #find-container p {
        font-size: 15px;
    }

    #find-outer-top {
        height: 400px;
    }

    #find-outer-middle {
        height: 200px;
    }

    #UMFC_map {
        border: 10px solid white;
        width: 200px;
    }
    
    /* FEEDBACK SECTION */
    
    #feedback-container {
        height: 1050px;
    }
    
    #feedback-outer-top {
         height: 200px;
    }
    
    .form-box, .form-box:hover {
        width: 220px; 
    }




    /*
    
    

    #feedback-container {
        background-color: white;
    }

    #feedback-container h1{
        color: #7f1734;
        background-color: white;
    }

    #feedback-container p{
        font-size: 15px;
    }

    #feedback-outer-top, #feedback-outer-middle, #feedback-outer-bottom {
        width: 80%;
    }

    #feedback-form, #submit-button {
        font-size: 15px;
    }

    .form-box, .form-box:hover {
        width: 600px; 
    }
    
    
        
    
    */


}
