@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Bebas Neue";
    /*color: cornflowerblue;*/
    color: #7f1734;
    letter-spacing: 1px;
    background-color: lightcyan
}

p, a {
    font-family: "Montserrat";
    font-size: 20px;
    letter-spacing: 0px;
}

h1 {
    font-size: 75px;
}

/* index.html styling*/


/* HEADER STYLING */

header {
    height: 130px;
    width: 100%;
    overflow: hidden;
    font-family: "Bebas Neue";
    color: #7f1734;
    letter-spacing: 1px;
    background-color:lightcyan;
}

#umfc_logo {
    float: left;
    height: 120px;
    width: 120px;
    position: relative;
    top: 5px;
    border-radius: 50%;
    
}

header a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

header a:hover {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

header a h1 {
    padding-left: 30px;
    float: left;
    color: inherit;
    font-size: 60px;
    position: relative;
    top: 30px;

    font-family: inherit;
    letter-spacing: inherit;
}

#menu {
    list-style-type: none;
    float:right;
    padding-top: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    position: relative;
    top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
}


#menu li {
    float:left;
    margin-right: 20px;
}

#menu li:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid #7f1734;
}

.active_page {
    padding-bottom: 10px;
    border-bottom: 1px solid #7f1734;
}

/* Welcome section styling*/

#welcome {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#welcome-img img {
    height: 700px;
    width: 100%;
    opacity: 0.4;
    object-fit: cover;
    object-position: 100% -400px;
    background-color: none;
}

#welcome-text {
    height: 120px;
    width: 100%;
    position: absolute;
    padding-left: 50px;    
    background-color: #7f1734;
    opacity: 0.8;
    top: 0px;
    padding-top: 10px;
}

#welcome-text h1 {
    height: 120px;
    width: 100%;
    position: absolute;
    color: white;
    font-size: 85px;
    text-align: center;
}

/* About styling*/
#about {
    height: 1500px;
    width: 100%;
    background-color: lightcyan;
    color: #7f1734;
    overflow: hidden;
}

#about h1 {
    text-align: center;
    color:  white;
    background-color:#7f1734;

}

#history {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;

}

#history p {
    text-align: center;
}


/* Club info styling*/
#club-info {
    height: 600px;
    width: 100%;
    padding-top: 10px;
    background-color: #7f1734;
    color: white;
}

#club-info h1 {
    text-align: center;
    color: inherit;
    background-color:inherit;
}

#left-club-info {
    height: 100%;
    width: 33.33%;
    float:left;
    background-color: black;
}

#right-club-info {
    height: 100%;
    width: 33.33%;
    float: right;
    background-color: blue;
}
 
#center-club-info {
    height: 100%;
    width: 33.33%;
    margin: 0 auto;
    background-color: green;
}

#left-club-info, #right-club-info, #center-club-info {
    display: inline-block;
}

hr {
    border-top: 1px solid white;
    width: 1005;
    margin: 2px 0;
}

#left-club-info div {
    clear: both;
    margin-top: 50px;
}

#last-match {
    width: 40%;
    float: right;
}

#last-match a {
    color: inherit;
    text-decoration: none;
}

#last-match a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    
}


/*
#fixtures {
    width: 40%;
    float: right;
}

#fixtures a {
    color: inherit;
    text-decoration: none;
}

#fixtures a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    
}

#news {
    width: 40%;
    float: right;
}

#news a {
    color: inherit;
    text-decoration: none;
}

#news a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

*/

/* Latest team info section styling*/

#latest-info {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-color: #7f1734;
}


/* Interested in joining section styling*/

#join {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-color: green;
}

/* Club shop banner with link to training gear*/

#club_shop {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #7f1734;
}

#club_shop_banner {
    height: 100%;
    width: 100%;
    position: absolute;
    padding-left: 50px;    
    background-color: #7f1734;
    top: 0px;
    padding-top: 10px;
}

#club_shop_banner h1 a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #7f1734;
    color: white;
    font-size: 75px;
    font-family: "Bebas Neue";
    text-align: center;
}

/* FOOTER STYLING */

footer {
    height: 100px;
    width: 100%;
    overflow: hidden;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 10px;
    background-color:lightcyan; 
    border-top:10px solid #7f1734;
}

footer h2 {
    text-align: left;
    font-size: inherit;
    position: relative;
    margin-top: 20px;
    float: left;
}

#nike_logo {
    height: 72px;
    position: relative;
    margin-left: 150px;
    margin-right: 100px;
    float: left;
}

#quayside_tyres_logo {
    height: 72px;
    position: relative;
    float: left;
    margin-right: 100px;
    margin-top: 1px;
}

#iomfa_logo {
    height: 72px;
    position: relative;
    float: left;
    margin-right: 75px;
    margin-top: 1px;
}

#social_media_links {
    list-style-type: none;
    font-size: inherit;
}

#social_media_links h2 {
    font-size: inherit;
    margin-right: 40px;
}

#social_media_links a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

#social_media_links h2 li {
    position: relative;
    float: right;
    margin-left: 20px;
    font-size: inherit;
}

